@media (max-width: 1500px) {
  aside.page-navigation-container {
    display: none;
  }
}

@media (max-width: 1150px) {
  main,
  footer {
    width: 600px;
  }
}

@media (max-width: 950px) {
  .main-nav {
    display: none;
  }

  main,
  footer {
    grid-column: 1 / span 2;
    width: 100%;
  }
}
