html,
body {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, sans-serif;
  background-color: rgb(238, 238, 238);
}

nav,
header {
  background-color: #313131;
  color: white;
}

nav span {
  font-size: 125%;
  margin: 5px;
}

nav.page-navigation {
  background-color: white;
  border: 1px solid black;
  box-shadow: 1px 0px 10px rgb(184, 184, 184);
}

nav.page-navigation span a {
  color: black;
}

header {
  background-color: #222222;
  font-size: 125%;
}

main,
footer {
  background-color: white;
  box-shadow: 1px 0px 10px rgb(184, 184, 184);
}

main .main-header {
  margin: 30px;
  margin-left: 10px;
  margin-right: 0px;
  padding: 10px;
  font-size: 200%;
  background-color: #313131;
  color: white;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}
